/*Wanted the podcast to have a more unique look to it than the main website, hence giving it a stylesheet of it's own*/

body{
    font-family:sans-serif;
    background-color:#fafafa;
}

#heroImage{
    margin:6em auto auto auto;
    position: relative;
    width:100%;
    z-index: -1;
    padding:4em;
    background-color: #2c3e50;
}

#sectionHeader{
    font-size:3em;
    margin-left:15%;
    margin-top:1em;
    margin-bottom:0.5em;
}

.episode{
    width:60%;
    margin:auto;
}

.episode .description{
    font-size:1.3em;
}

.episode audio{
    border-radius: 0%;
    background-color:black;
    
}

#NavLogo{
    width:1.5em;
    padding:0;
    margin:0;
    margin-right: 5%;
}

#heroContainer{
    color:blue;
    width:100%;
    padding:0;
    margin:0;

}

